body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 20px;
}

#gameCanvas {
    border: 2px solid black;
    display: block; /* Para centrar el lienzo */
    margin: 0 auto;
    width: 100%; /* Ajustar el ancho del lienzo */
    height: auto; /* Mantener la proporción */
    max-width: 600px; /* Máximo ancho para pantallas grandes */
    aspect-ratio: 16 / 9; /* Mantener una relación de aspecto */
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    font-size: 24px; /* Ajusta el tamaño de los botones */
    margin: 5px;
    padding: 10px 20px; /* Espaciado de los botones */
}
